/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2023, 11:14:22 PM
    Author     : Admin
*/
* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

.un_1 {
    width: 323px !important;
    padding: 0 !important;
}

.header {
    width: 323px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 32px;
}

form {
    margin-bottom: 24px;
}

label, a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.show {
    float: right;
    margin-right: 13px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .components {
        display: none !important;
    }

    .header {
        width: 323px;
        height: 26px;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        box-shadow: 0 5px 7px 0px #eae8e8;
    }

}

.list_header_background {
    background-color: rgba(5, 44, 101, 1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 252px;
    height: 1080px;
    left: 0px;
    top: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.list_header {
    width: 219px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1104px;
    height: 451px;
    left: 293px;
    top: 94px;
}
